@font-face {
  font-family: "MS Sans Serif";
  src: url("./micross.ttf");
}
@font-face {
  font-family: "Digital Dismay";
  src: url("./digital-dismay.otf") format("truetype");
}

html{
}
.Game {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.game-menu {
  font-family: "MS Sans Serif";
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.Board {
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


td {
  border: none;
  background-color: white;
  border: 1px solid rgb(177, 176, 186);
  padding: 5px;
  position: relative;
}
tbody{
  border: 1px solid red

}
table{
  border-collapse: separate; 
  border-spacing: 0;
  border: 1px solid rgb(34, 31, 104);
  background-color: rgb(177, 176, 186);;
}

#tile {
  display: flex;
  width: 16px;
  height: 16px;
}
td:hover{
  background-color: rgb(196, 196, 196);
}
.flagleft{
  font-family: "Digital Dismay";
  background-color: black;
  font-size: large;
  color: red;
  border: 1px rgb(177, 176, 186);
  padding: 3px;
  margin-top: 2px;
  height: 30px;
  width: 3ch;
  text-align: center;
  flex: 1;
}
.timer{
  font-family: "Digital Dismay";
  background-color: black;
  font-size: large;
  color: red;
  border: 1px rgb(177, 176, 186);
  padding: 3px;
  margin-top: 2px;
  height: 30px;
  width: 3ch;
  text-align: center;
  flex: 1;
}
.faceImage img{
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  flex: 1;
}