.Game {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-menu {
  background-color: #ddd;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Board {
  align-items: center; 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  background-color: #949494;
}
