.App {
  text-align: center;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.App-header .game{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  background-color: #C2B28F;
  padding: 10px;
}